/* RESET */
/* YUI Reset version: 2.7.0 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var, optgroup {
  font-style: inherit;
  font-weight: inherit; }

del, ins {
  text-decoration: none; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: baseline; }

sub {
  vertical-align: baseline; }

/*because legend doesn't inherit in IE */
legend {
  color: #000; }

input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit; }

input, button, textarea, select {
  *font-size: 100%; }

body {
  background: rgba(0, 0, 0, 0.1);
  font: 1em "ff-tisa-sans-web-pro", Helvetica, Arial, sans-serif; }

.wrap {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 0 20px 0; }

h2 {
  font-size: 2em;
  color: #666666; }

p {
  color: #666666; }

a {
  color: #e76f5f;
  text-decoration: none; }

.meta {
  font: 1em #666666; }

#header {
  background: #f8f5ef; }

#header nav {
  float: right; }

#header nav li {
  display: inline;
  margin-left: 20px; }

#content {
  margin-top: 100px; }

#notifications {
  width: 100%; }

#notifications .close {
  float: right;
  width: 5px; }

#notifications #time-left {
  float: left;
  width: 340px; }

#notification #calendar-tout {
  float: right;
  width: 200px; }

.conversation header {
  padding: 20px; }

.conversation header .author {
  float: left;
  margin-right: 20px;
  width: 64px;
  text-align: center; }

.conversation header .author img {
  border-radius: 4px; }

.conversation .post-wrapper {
  float: left;
  width: 500px;
  clear: both;
  position: relative;
  z-index: 2; }

.conversation .post-content {
  width: 460px;
  background: white;
  padding: 20px;
  border-radius: 4px;
  float: left;
  clear: both;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #cacaca; }

.conversation .discussion {
  float: left;
  width: 450px;
  background: #f7f7f1;
  border-radius: 4px;
  margin-left: -20px;
  padding: 20px 20px 20px 40px;
  position: relative;
  z-index: 1;
  border: 1px solid #cacaca; }

.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }
